/* PORTFOLIO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:  #024e76;
    color: white;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0 30px;
    display: inline;
}

header a {
    text-decoration: none;
    color: white
}

header nav {
    float: right;
    margin: 10px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

.hero {
    background-image: url("./images/Hero-Banner-Placeholder.png");
    height: 225px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero img {
    margin: 25px 30px;
    block-size: 175px;
    
}

.intro {
    text-align: left;
}

.intro h2, .project-links h2, .professional-links h2, .resume-links h2 {
    line-height: 1.5;
    font-size: 36px;
    margin:30px 50px;
}

.intro p {
    line-height: 1.7;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

.project-links a {
    padding: 50px 50px;
    margin: 0 50px;
    background-image: url("./Images/Run-Buddy-Example.PNG");
    display: inline-block;
    text-decoration: none;
    color: white;
}

/* .professional-links address {
    margin: 0 50px;
} */
.professional-links address p, .resume-links p {
    display: inline-block;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.professional-links address a, .resume-links a {
    text-decoration: none;
}